/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#dispensary_details_edibles .inside,
#dispensary_details_compounds .inside,
#dispensary_details_growers .inside,
#dispensary_details_topicals .inside,
#dispensary_details_tinctures .inside {
    overflow: auto;
}

#dispensary_details_edibles .inside .ediblesbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #dispensary_details_edibles .inside .ediblesbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}

#dispensary_details_compounds .inside .compoundbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #dispensary_details_compounds .inside .compoundbox {
    width: 14.667%;
    float: left;
    margin: 0 1%;
}

#dispensary_details_topicals .inside .topicalsbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #dispensary_details_topicals .inside .topicalsbox {
    width: 31.333%;
    float: left;
    margin: 0 1%;
}

#dispensary_details_growers .inside .growerbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #dispensary_details_growers .inside .growerbox {
	float: left;
	margin: 0 1%;
	position: relative;
	width: 18%;
}

#dispensary_details_tinctures .inside .tincturesdetailsbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #dispensary_details_tinctures .inside .tincturesdetailsbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 18%;
}

td.forminp span.description {
    display: block;
}

/* WooCommerce customer verification file upload */

div.recommendation-doc {
    display: inline-block;
    position: relative;
    width: 140px;
}

td.dispensary-details-recommendation-doc input[type="file"] {
    display: block;
}

img.dispensary-details-recommendation-doc {
	height: auto;
    margin-bottom: 12px;
	width: 100%;
}

button.remove-recommendation-doc {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #FFF;
    background: #FF0000;
    border: 0;
    padding: 10px 6.61px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1px;
    font-family: 'Helvetica', Arial, sans-serif;
    text-align: center;
}

button.remove-recommendation-doc:active,
button.remove-recommendation-doc:focus,
button.remove-recommendation-doc:hover {
	cursor: pointer;
	background: #F00000;
	color: #FFF;
}
